/* CSS START */

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* VARIABLES */
:root {
  --rich-black: #081e21ff;
  --gunmetal: #1c3435ff;
  --non-photo-blue: #84dbe7ff;
  --electric-blue: #97ebf1ff;
  --mint-cream: #eff7f6ff;

  --BORDER-DARK: 1px solid var(--BG-dark);
  --BORDER-LIGHT: 1px solid var(--BG-light);
  --BORDER-R: 10px;
  --BSHADOW-dark: 1px 1px 3px var(--BG-dark);
  --BSHADOW-light: 1px 1px 3px var(--BG-light);

  --FC-dark: #081e21;
  --FC-light: #eff7f6;
  --BG-dark: #081e21;
  --BG-light: #84dbe7ff;
  --G-light: linear-gradient(to bottom, #97ebf1ff, #84dbe7ff);
  --G-dark: linear-gradient(to bottom, #1c3435ff, #081e21ff);
}

/* Utilities */

.loading {
  height: 100vh;
  font-size: 2rem;
  display: grid;
  place-content: center;
}
.loading .img {
  width: min(140px, 20vw);
  height: min(140px, 20vw);
  background: url("../public/loading.gif") no-repeat center / cover;
}

.error {
  height: 100vh;
  font-size: 2em;
  padding: 2em;
  text-align: center;
  display: grid;
  place-content: center;
}

/* MAIN STYLES */

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--G-dark);
}
.App {
  width: min(100%, 700px);
  border: var(--BORDER-DARK);
  border-radius: var(--BORDER-R);
  font-size: clamp(1rem, 4vw, 1.4rem);
  height: 100vh;
}
@media (orientation: landscape) {
  .App {
    height: 100%;
  }
  #root {
    height: 100%;
  }
}
.container {
  border-radius: var(--BORDER-R);
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  color: var(--FC-dark);
  background: var(--G-light);
}
.container.night {
  background: var(--G-dark);
  color: var(--FC-light);
}

main {
  width: clamp(300px, 100%, 800px);
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.content {
  width: 85%;
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 1em;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* COMPONENTS STYLES */

/* || HEADER */

.logo {
  font-size: 2rem;
  font-family: "Kaushan Script", cursive;
  text-decoration: none;
  display: block;
  color: var(--FC-dark);
}
.logo.night {
  color: var(--BG-light);
}

.header {
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0.4em;
}
.header#toggled {
  border-radius: var(--BORDER-R);
}

.navbar {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: min(70px, 16vw);
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  position: relative;
}

.hamburger:hover .bar {
  filter: opacity(1);
}

.bar {
  filter: opacity(0.3);
  background-color: var(--FC-dark);
  height: 0.4em;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
.bar.night {
  background-color: var(--BG-light);
}

.bar:first-child {
  transform: translateY(-14px);
}
.bar:nth-child(2) {
  opacity: 1;
}
.bar:last-child {
  transform: translateY(14px);
}

.bar:first-child#toggled {
  transform: rotate(45deg);
  filter: opacity(1);
}
.bar:nth-child(2)#toggled {
  opacity: 0;
}
.bar:last-child#toggled {
  transform: rotate(-45deg);
  filter: opacity(1);
}

.navbar__menu {
  border-radius: var(--BORDER-R);
  box-shadow: 0px 2px 3px -1px var(--BG-dark);
  font-size: 1.5em;
  background-color: var(--BG-light);
  padding: 1rem;
  width: 12em;
  left: 50%;
  position: fixed;
  transform: translate(-50%, 0.8em);
  opacity: 1;
  transition: all 0.3s ease-out;
}
.navbar__menu#night {
  background-color: var(--BG-dark);
  border: var(--BORDER-LIGHT);
}
.navbar__menu.hidden {
  transform: translate(-50%, -300px);
  opacity: 0;
}

.navbar__list {
  list-style: none;
  text-align: center;
}

.navbar__item {
  z-index: 1;
  height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__item:hover,
.navbar__item:focus {
  /*   filter: drop-shadow(5px 1px 15px var(--FC-light)); */
  border-radius: 20px;
  background-color: var(--electric-blue);
  cursor: pointer;
}
.navbar__item:hover#night,
.navbar__item:focus#night {
  /*   filter: drop-shadow(5px 1px 15px var(--FC-light)); */
  border-radius: 20px;
  background-color: var(--gunmetal);
  cursor: pointer;
}

.searchBox {
  position: fixed;
  display: block;
  width: 90%;
  border-radius: var(--BORDER-R);
  background-color: var(--BG-light);
  padding: 0.3em;
  border: var(--BORDER-DARK);
  transition: all 0.2s ease-out;
  filter: opacity(0);
}

.searchBox.night {
  background-color: var(--BG-dark);
  border: var(--BORDER-LIGHT);
}

.searchBox#triggered {
  transform: translateY(1em);
  filter: opacity(1);
}
.searchBox__item {
  list-style: none;
  display: flex;
  padding: 0.3em;
  font-size: 0.7em;
  text-align: left;
  justify-content: space-between;
  align-items: center;
}
.searchBox__name {
  font-size: 1.2em;
}

.searchBox__item:hover,
.searchBox__item:focus {
  background-color: var(--electric-blue);
  border-radius: var(--BORDER-R);
  cursor: pointer;
}
.searchBox__item:hover.night,
.searchBox__item:focus.night {
  background-color: var(--gunmetal);
}

.searchBox__add {
  font-size: 0.55em;
  color: #333;
  text-align: right;
}

.searchBox__add.night {
  color: #8b8b8b;
}

.textInput[type="text"] {
  opacity: 0.8;
  width: 100%;
  border-radius: 15px;
  border: none;
  padding: 0.5rem;
  font-size: 1.2em;
  transition: 0.2s opacity;
}

.textInput[type="text"]:focus,
.textInput[type="text"]:hover {
  opacity: 1;
  outline: none;
}
.textInput[type="text"]:focus {
  box-shadow: var(--BSHADOW-dark);
}
.textInput[type="text"]:focus.night {
  box-shadow: var(--BSHADOW-light);
}

/* || MAIN CONTENT */

.weather {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  flex-shrink: 2;
}

.city {
  font-size: min(2em, 6vh);
}

.isDay {
  font-size: min(1.5em, 5vh);
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.conditionIcon {
  width: max(7vw, 1.5em);
  height: max(7vw, 1.5em);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.temp {
  font-size: min(5em, 10vh);
}

.condition {
  font-size: 1.5em;
}

.wind {
  /* border: var(--BORDER-DARK); */
  width: min(100%, 80vw);
  border-radius: var(--BORDER-R);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  box-shadow: var(--BSHADOW-dark);
  flex-shrink: 1;
}
.wind.night {
  border: var(--BORDER-LIGHT);
}

.wind__labels,
.wind__values {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  gap: max(0.2em, 1.4vh);
}
.wind__values {
  text-align: right;
}

.about {
  position: fixed;
  text-align: center;
  border-radius: var(--BORDER-R);
  border: var(--BORDER-DARK);
  background-color: var(--BG-light);
  width: 60vw;
  padding: 2em;
  transition: all 0.4s ease-out;
  transform: translateY(-800px);
  line-height: 1.5em;
}
.about > h1 {
  margin-bottom: 1em;
}
.about.night {
  background-color: var(--BG-dark);
  border: var(--BORDER-LIGHT);
}

.about#toggled {
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  /* border: var(--BORDER-DARK); */
  width: min(100%, 80vw);
  border-radius: var(--BORDER-R);
  box-shadow: var(--BSHADOW-dark);
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 0.2em;
  flex-shrink: 1;
}
.footer.night {
  border: var(--BORDER-LIGHT);
}

.footer section {
  display: flex;

  justify-content: space-between;
  width: 100%;
}
